<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" type = "text/css" href = "main_pageS.css">
</head>
<body>
    <div class="container">
        <div class="company-info">
            <p><big><big><big><big><font size="44">Центр управления</font><br/><font size="44" color = "#5ca174"><b>вашими домами</b></font></big></big></big></big></p>
            <p><font size = "5" color="#808080">Удобная платформа для взаимодействия жильцов и</br> управляющих компаний. Обмен сообщениями, отчеты и</br> уведомления в одном месте.</font></p>
        </div>
    </div>
    <a href = "registration.html" class="button_a"><button class="button"><font size="5"><b>Авторизация</b></font></button></a>
</body>
<style type="text/css">
    header {
    color: #fff;
    padding: 10px 0;
    color: #fff;
}
ul {
    list-style: none;
}

.head {
    display: flex;
    justify-content: space-between;
}



a{
    font-size: 40px;
    padding: 20px;
    color: #293133;
    text-decoration: none;
}

a:hover{
    color: #5ca174;
    text-decoration: none;
}

li{
    display: inline;
}

body {
    background-color: #E2F9EA;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 210px;
    margin-left: 280px;
}
.company-info {
    float: left;
    width: 50%;
}
.company-info img {
    width: 100%;
}
.company-info h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.company-info p {
    font-size: 1.2em;
}


button:hover{
    color: #ffffff;
    background-color: #3f7251;
}

.button {
    width: 250px;
    height: 55px;
    background-color: #69a07c;
    margin-top: 25px;
    margin-left: 250px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    color: #ffeded;
  }
</style> 
</html>