<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegistrationPage</title>
</head>
<body>
    <div class="rows">
        <a href = "PersonalArea.html" class="button_a"><button class="button"><font size="3"><b>Мои обращения</b></font></button></a>
        <a href = "Request.html" class="button_a"><button class="button"><font size="3"><b>Создать новое обращение</b></font></button></a>
        <a href = "UserSettings.html" class="button_a"><button class="button"><font size="3"><b>Настройки</b></font></button></a>
        <a href = "chat.html" class="button_a"><button class="button"><font size="3"><b>Чат дома</b></font></button></a>
    </div>

    <div class="separator"></div>

    <div class="reg" align="center">
        <div class="name">
            <p><font size = "5"><b>Настройки</b></font></p>
        </div>
        <div class="FIO">
            <label for="fio">ФИО:             </label>
            <input type="text" id="fio" name="fio" required>
        </div>

        <div class = "Line"></div>

        <div class="residence">
            <label for="residence">Адрес:           </label>
            <input type="text" id="residence" name="residence" required>
        </div>

        <div class = "Line"></div>

        <div class="E-mail">
            <label for="E-mail">E-mail:           </label>
            <input type="text" id="E-mail" name="E-mail" required>
        </div>

        <div class = "Line"></div>

        <div class="password">
            <label for="password">Пароль:         </label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class = "Line"></div>

        <div class="b">
            <a href = "#" class="button_a"><button class="button_abs"><font size="5"><b>Изменить</b></font></button></a>
        </div>
    </div>
</div>
<style type="text/css"> 

header {
    background-color: #aaffc8;
    color: #fff;
    padding: 10px 0;
    color: #fff;
}
ul {
    list-style: none;
}

a{
    font-size: 40px;
    padding: 20px;
    color: #293133;
    text-decoration: none;
}

a:hover{
    color: #5ca174;
    text-decoration: none;
}

li{
    display: inline;
}

.head {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #E2F9EA;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.reg {
    float: left;
    width: 400px;
    background: #ffffff;
    height: 427px;
    padding: 20px;
    margin-top: 125px;
    border-radius: 37px;
    margin-left: 170px;
}

.whom {
    margin-top: 35px;
}


.subject {
    margin-top: 35px;
}

.text_of_message {
    margin-top: 35px;
}

.remember {
    margin-top: 20px;
}

.Line {
    height: 3px;
    width: 280px;
    background-color: green;
}

.remember_a {
    font-size: 17px;
    color: #293133;
    text-decoration: none; 
}

.button {
    width: 250px;
    height: 55px;
    background-color: #69a07c;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    color: #ffeded;
    margin-top: 8px;
}

button:hover{
    color: #ffffff;
    background-color: #3f7251;
}

.remember1 {
    margin-top: 20px;
}

.checkbox {
    margin-top: 20px;
}

.rows {
    float: left;
    width: 122px;
    height: 452px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 37px;
    margin-left: 10px;
}

.separator {
    margin-top: 129px;
    border-left: 6px solid lightgreen;
    height: 86%;
    position: absolute;
    left: 150px; 
    top: 0;
    margin-left: 23px;
}


.button {
    width: 100px;
    height: 100px;
    background-color: #69a07c;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    color: #ffeded;
    margin: 20px;
    margin-left: -14px;
}

button:hover{
    color: #ffffff;
    background-color: #3f7251;
}

.button_abs {
    width: 250px;
    height: 55px;
    background-color: #69a07c;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    color: #ffeded;
    margin-top: 43px;
}

button:hover{
    color: #ffffff;
    background-color: #3f7251;
}

.FIO {
    margin-top: 35px;
}

.residence {
    margin-top: 35px;
}

.E-mail {
    margin-top: 35px;
}

.password {
    margin-top: 35px;
}
</style>
</body>
</html>